.App {
  text-align: center;
}

.addForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.addArea {
  color: black;
}

.enter {
  margin: 0.5rem;
  border: 2px solid lightblue;
  border-radius: 8px;
  line-height: 2;
  text-align: center;
}
.enter:focus{
  border: 2px solid orange;
  background-color: rgb(255, 232, 189);
}

.addButton {
  background-color: #c1e7bc;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap;
}

th {
  background-color: #f2f2f2;
  text-wrap: nowrap;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}
