.App {
  text-align: center;
}

.nation_list {
  margin: 1vh 0;
}

.nation_list_button {
  background-color: #fff;
  color: #000;
}

.nation_list_button:hover {
  border: 1px solid lightblue;
}

.nation_list_li>a {
  color:#000
}

.addPlayer{
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}

.addForm {
  width: 80%;
  display: flex;
}

.addArea {
  display: flex;
  color: black;
  flex-wrap: wrap;
  justify-content: center;
}

.enter {
  margin: 0.5rem;
  border: none;
  border-bottom: 2px solid lightblue;
  border-radius: 4px;
  line-height: 2;
  text-align: center;
}

.enter:focus{
  border: none;
  border-bottom: 2px solid rgb(122, 166, 181);
}

.add_btn {
  background-color: #c1e7bc;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap;
}

th {
  background-color: lightblue;
  text-wrap: nowrap;
}

tr:nth-child(odd) {
  background-color: rgb(206, 208, 209);
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: rgb(173, 187, 192);
}

.add_btn,
.delete_btn,
.edit_btn {
  box-shadow: 1px 1px 5px 0px gray;
}

.delete_btn {
  background-color: #ffaeae;
  transition: 1s ease;
}

.delete_btn:hover {
  background-color: #ff4d4d;
}