/* ------------------------------------------------- App.css ------------------------------------------------- */
.app-container {
  display: flex;
}

.App {
  display: flex;
  width: 100%;
}

.context {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  flex: 1;
}

/* ------------------------------------------------- Sidebar ------------------------------------------------- */
.aside {
  position: sticky;
  height: 100vh;
  top: 0;
  z-index: 100;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 250px;
  height: 100vh;
  background-Color: #f8f9fa;
  padding: 1rem;
  box-Shadow: 2px 0 5px rgba(0,0,0,0.1)
}

.sidebar-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-content {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.sidebar-item {
  padding: 0.5rem 1rem;
  width: 250px;
  background-color: #fcdede;
  border-radius: 0 10px 10px 0;
  display: inline-block;
  transition: transform 0.3s ease;
  position: relative;
  left: -2rem;
  text-align-last: end;
}

.sidebar-item:hover {
  transform: translateX(1rem); /* 懸停時向右移動1rem */
}

.sidebartrainer{
  text-align: center;
}

.sidebar-link {
  text-align: center;
  /* align-self: center; */
  /* width: 180px; */
}

.sidebar-link img {
  margin: 5px 0;
  width: 180px
}


/* ------------------------------------------------- TrainerForm ------------------------------------------------- */
.trainerinput {
  text-wrap: nowrap;
}

.trainer_data {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trainer_pokemon {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trainer-table {
  width: 100%;
}

.table-data .ant-table {
  font-size: 40px;  /* 調整整個表格內部字體大小 */
}

.table-data .ant-table-thead > tr > th {
  font-size: 24px;  /* 調整表格表頭字體大小 */
}

.table-data .ant-table-tbody > tr > td {
  font-size: 20px;  /* 調整表格行內的字體大小 */
}

.table-data .ant-table-tbody > tr > td > button {
  font-size: 18px;  /* 調整表格行內的字體大小 */
}

/* ------------------------------------------------- Pokemon ------------------------------------------------- */
.bitimg,
.artwork {
  background-color: #bcbcbc5c;
  border-radius: 20px;
}

.pokemon-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.gen-button {
  margin: 0 3px;
}

.gen-button.active {
  background-color: #64ade1;
  color: white;
}

.pokemon-item {
  padding: 10px;
  width: 11.6rem;
  border-radius: 20px;
  box-shadow: 0px 0px 8px 1px gray;
}

.pokemon-description span {
  margin: 0 5px;
  font-size: 16px;
  padding: 3px 5px;
  border-radius: 15px;
  background-color: lightgray;
}

.pokemon-item p {
  font-size: 16px;
}

.add_btn,
.delete_btn,
.detail_btn,
.edit_btn {
  padding: 3px;
  box-shadow: 1px 1px 5px 0px gray;
}

.pokemon-item .detail_btn {
  border-radius: 10px 0 0 10px;
}

.pokemon-item .add_btn {
  background-color: #c1e7bc;
  border-radius: 0 10px 10px 0;
}

.pokemon-item .add_btn,
.pokemon-item .detail_btn {
  box-shadow: none;
  transition: transform 0.3s ease;
}

.detail_btn:hover {
  transform: translateX(-0.2rem); /* 懸停時向右移動1rem */
}

.add_btn:hover {
  transform: translateX(0.2rem); /* 懸停時向右移動1rem */
}

/* ------------------------------------------------- Dialog ------------------------------------------------- */
.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-content {
  display: flex;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 60%;
  width: 100%;
  text-align: center;
  justify-content: space-around;
}

.dialog-left {
  flex: 1;
}

.dialog-chart {
  width: 500px;
}

/* .dialog-chart {
  
} */

/* ------------------------------------------------- Area ------------------------------------------------- */
.area-display{
  width: 70%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 每行 3 列 */
  gap: 10px; /* 按鈕之間的間距 */
  justify-content: center; /* 水平置中 */
  align-content: center; /* 垂直置中 */
}

.gen-area-button.active {
  background-color: #64ade1;
  color: white;
}

.area-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* ------------------------------------------------- Other ------------------------------------------------- */
/* .nation_list {
  margin: 1vh 0;
}

.nation_list_button {
  background-color: #fff;
  color: #000;
}

.nation_list_button:hover {
  border: 1px solid lightblue;
}

.nation_list_li>a {
  color:#000
}

.addPlayer{
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}

.addForm {
  width: 80%;
  display: flex;
}

.addArea {
  display: flex;
  color: black;
  flex-wrap: wrap;
  justify-content: center;
} */

.enter {
  background-color: aliceblue;
  margin: 0.5rem;
  border: none;
  border-bottom: 2px solid lightblue;
  border-radius: 6px;
  line-height: 2;
  text-align: center;
  outline: none;
}

.enter:focus{
  border: none;
  border-bottom: 2px solid rgb(122, 166, 181);
}

table {
  border: none;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap;
}

th {
  background-color: lightblue;
  text-wrap: nowrap;
}

tr:nth-child(odd) {
  background-color: rgb(206, 208, 209);
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: rgb(173, 187, 192);
}

.edit_input {
  width: 100%;
  text-align: center;
  margin: 0.5rem;
  border: none;
  border-bottom: 2px solid lightblue;
  border-radius: 6px;
  line-height: 2;
}

.add_btn,
.delete_btn,
.edit_btn {
  box-shadow: 1px 1px 5px 0px gray;
}

.delete_btn {
  background-color: #ffaeae;
  transition: 1s ease;
}

.delete_btn:hover {
  background-color: #ff4d4d;
  border-color: #ff1f1f;
}

/* TeamOverview */
.team_content {
  text-align: justify;
}